<!DOCTYPE html>
<html>
<head time="$!curTime">
#parse("header.vm")
	<title>土著说</title>
    <style>
    </style>
</head>
<body style="zoom: 1;">

<script type="text/javascript">
	
	$(document).ready(function(){
		showWindowsToast("正在获取您的地理位置...");
	
		var host = window.location.host;
		configWeixinShare("土著说", "附近地区攻略", 
			"http://" + host + "/images/qinzi5.jpg", 
			"http://" + host + "/mq/nearby",
			function (res) {
		        var lat = res.latitude; // 纬度，浮点数，范围为90 ~ -90
		        var lng = res.longitude; // 经度，浮点数，范围为180 ~ -180。
		        var speed = res.speed; // 速度，以米/每秒计
		        var accuracy = res.accuracy; // 位置精度
		        
		        //showWindowsToast(lat +"," + lng);
		        window.location = "/mq/nearby?lat=" + lat + "&lng=" + lng + "&accuracy=" + accuracy;
		    });
		
	});
	
</script>

</body></html>