<!DOCTYPE html>
<html>
<head time="$!curTime">
#parse("header.vm")
	<title>乐宝亲子辅导</title>
    <style>
    	.input-area {width:100%;margin-top:60px;padding-bottom:20px;border:0px;background-color:#FFFFFF;font-size:16px;}
    	
    	.practice-line {width:100%;margin:20px 0px;}
		.practice-title {line-height:20px;font-size:16px;padding:20px 20px 20px 50px;color:#333333;}
		.practice-no {line-height:20px;font-size:16px;color:#333333;position:absolute;left:20px;padding:20px 0px;}
		.practice-choices {}
		.item-choice {line-height:20px;font-size:16px;margin:0px 20px 20px 50px;color:#333333;}
		.explain-action {line-height:20px;font-size:12px;margin:0px 20px 20px 50px;color:#6098D5;}
		.practice-explain {line-height:20px;font-size:14px;margin:0px 20px 10px 50px;color:#333333;}
		.practice-answer {line-height:20px;font-size:14px;margin:0px 20px 10px 50px;color:#FF0000;}
    </style>
</head>
<body style="zoom: 1;">
#parse("loading.vm")
<div class="wrap" onselectstart="return false;">
	<div class="main2">
		<div class="top-bar">
			<div class="return-icon" onclick="window.location='/fudao/listuserbooks';"></div>
			<div class="top-bar-mid-title">$viewUtils.getHTMLValidText($puzzle.getPuzzleTitle())</div>
		</div>
		
		<div class="input-area">
			
		</div>
		
	</div>
</div>

<script type="text/javascript">
	
	
	function toggleAnswer(e) {
		$(e).parent().find(".practice-explain").toggleClass("dn");
		$(e).parent().find(".practice-answer").toggleClass("dn");
		$(e).parent().find(".explain-action").toggleClass("dn");
	}
	
	function replaceHtmlChar(s) {
		return s.replace(new RegExp(/\n/g),"<br/>");
	}
	
	$(document).ready(function(){
		var practices = $puzzle.getPracticeJson();
		for (var i = 0; i < practices.length; i++) {
			var item = practices[i];
			var s = "<div class=\"practice-line\">"
				+ "<div class=\"practice-no\">"+ (i + 1) +".</div>"
				+ "<div class=\"practice-title\">"+ item.title +"</div>"
				+ "<div class=\"practice-choices\">";
			for (var j = 0; j < item.choices.length; j++){
				var ch = j == 0 ? "A" : (j == 1 ? "B" : (j == 2 ? "C" : (j== 3 ? "D" : "")));
				s+= "<div class=\"item-choice\">"+ ch + ".&nbsp;"+ item.choices[j] + "</div>";
			}
				
			s +="</div>"
				+ "<div class=\"explain-action\" onclick=\"toggleAnswer(this);\">查看答案</div>"
				+ "<div class=\"practice-answer dn\">答案："+ item.answer +"</div>"
				+ "<div class=\"practice-explain dn\">解析："+ replaceHtmlChar(item.explain)+"</div>"
				+ "<div class=\"explain-action dn\" onclick=\"toggleAnswer(this);\">收起答案</div>"
				+ "</div>";
			
			
			$(".input-area").append(s);
		}
		
	});
	
</script>

</body></html>